<form action="/admin/attractions/${attractionId}/photos" method="post" enctype="multipart/form-data">
  <input id="photoInput" type="file" name="photos" accept="image/*" multiple />
  <div id="previewContainer"></div>
  <button type="submit">Upload</button>
</form>
<ul>
  <#list photos as p>
  <li>#${p.sortOrder} <img src="${p.imagePath}" class="thumb" alt="photo" />
    <form action="/admin/photos/${p.id}/delete" method="post"><button type="submit" class="btn-danger">Delete</button></form>
  </li>
  </#list>
</ul>
