<aside class="sidebar">
  <img src="/static/images/locapin-logo.png" alt="LocaPin" class="brand-logo" />
  <nav>
    <ul>
      <li><a class="{{dashboardActiveClass}}" href="/admin/dashboard">Dashboard</a></li>
      <li><a class="{{citiesActiveClass}}" href="/admin/cities">Cities</a></li>
      <li><a class="{{areasActiveClass}}" href="/admin/areas">Areas</a></li>
      <li><a class="{{attractionsActiveClass}}" href="/admin/attractions">Attractions</a></li>
      <li><a class="{{plansActiveClass}}" href="/admin/plans">Plans</a></li>
    </ul>
  </nav>
</aside>
